:root {
    /* Colors used throughout my website*/
    --dark: #15081D;
    --light: #E6EFF4;
    --midGray: #333;
    --backgroundGray: #3b3b3b;
    --lightGray: #9e9e9eef;
    --skyBackground: #0d0711;
}

/***** HTML Elements *****/

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    background-color: var(--backgroundGray);
    z-index: 1;
}

h2 {
    font-size: 2em;
    font-weight: 400;
    font-style: normal;
    color: var(--light);
    /* padding-top: 50px; */
    padding-bottom: 50px;
}

h4 {
    font-size: 1.25em;
    font-weight: 400;
    font-style: normal;
}

p {
    font-size: 1em;
    font-weight: 300;
    font-style: normal;
}



/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
 
.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {
        width: calc(25% - 20px);
        max-width: 240px;
        padding: 10px;
    }
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

/* [class*="col-"] {
    float: left;
    padding: 15px;
} */

.row::after {
    content: "";
    clear: both;
    display: table;
    overflow-x: auto;
}

/***** Hotbar CSS *****/
.hotbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    overflow: hidden;
    background-color: var(--midGray);
    z-index: 5;
    display: flex;
    justify-content: center;
}

.hotbar a {
    display: inline-block;
    margin: 0 30px;         /* Distance between links*/
    color: var(--light);
    text-decoration: none;
}

.hotbar a:hover {
    text-decoration: underline;
    color: var(--lightGray);   
}

/***** Home CSS *****/

#video-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
    top: 0;
    position: sticky;
}

#background-gameplay-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#home-title {
    font-size: 4em;
    color: var(--light);
    font-family: "Concert One";
    font-weight: 100;
    font-style: normal;
    width: 500px;
    display: block;
    
}

#home-subtitle {
    font-size: 1.6em;
    font-weight: 400;
    font-style: normal;
    color: var(--light);
    letter-spacing: 3px;
    display: block;
}

#home-image {
    height: 100px;
    justify-self: center;
}

#home-content {
    /* position: fixed; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 500px;
}

/***** Skills CSS *****/

#skills {
    position: relative;
    text-align: center;
    width: 100%;
    color: var(--light);
}

#skills-content {
    justify-content: center;
    padding: 20px;
    padding-bottom: 50px;
    margin: 0 auto;
}

.skills-logo {
    height: 125px;
}

#stars-container {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -2;
    pointer-events: none;
    background-color: var(--skyBackground); 
}

.star {
    position: absolute;
    width: 20px; /* Adjust the size of the stars */
    height: 20px; /* Adjust the size of the stars */
    background-color: white; /* Change the color of the stars */
    border-radius: 50%; /* Make the stars round */
}

canvas {
    display: block;
}

/***** Portfolio CSS *****/

#portfolio {
    position: relative;    
    text-align: center;
    background-color: var(--backgroundGray);
    overflow: hidden;
    width: 100%;
    color: var(--light);
}

#showreel-video {
    position: relative;
    padding-top: 20px; 
    width: 75vw;
    z-index: 2;
}

/***** About Me CSS *****/

#aboutme {
    position: relative;
    text-align: center;
    width: 100%;
    color: var(--light);    
}

#aboutme-info {
    position: absolute;
    z-index: 2;
    justify-content: center;
    text-align: center;
}

svg {
    width: 100%;
    height: 1000px;
    background: linear-gradient(0deg, rgba(0,0,255,1), rgb(92, 7, 131)), url(/👆/that/noise.svg);
    filter: contrast(130%) brightness(40%);
    z-index: -1;
}

  /* filter: contrast(1000%) brightness(45%); */
  /* rgba(159,13,166,1) */

/***** Contact CSS *****/

#contact {
    width: 100%;
    height: 78%;    /* This just makes it so the header is at the bottom when at the contact section */
    background-image: url("assets/imgs/NoiseGradient1.jpg");
    position: relative;
    text-align: center;
    width: 100%;
    color: var(--light);
}

form {
    max-width: 500px;
    margin: 0 auto;
}

label, input, textaxea {
    display: block;
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
input[type="submit"]:hover {
    background-color: #45a049;
}

/***** Footer CSS *****/

footer {
    background-color: var(--backgroundGray);
    padding: 20px;
    text-align: center;
    color: var(--light);
}

#footer {
    /* background-color: #ccc; */
    padding: 20px;
    margin: 0 auto;
    /* max-width: 600px; */
}

.testbox {
    outline: 3px solid red;
}