:root {
    /* Colors used throughout my website*/
    --dark: #15081D;
    --light: #E6EFF4;
    --midGray: #333;
    --backgroundGray: #3b3b3b;
    --lightGray: #9e9e9eef;
    --skyBackground: #0d0711;
}

/*************** HTML Elements **************/

body {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    overflow-x: hidden;
    z-index: 1;
    color: var(--light);
}

h1 {
    /* font-size: 2em; */
    color: var(--light);
    font-family: "Concert One";
    font-weight: 500;
    font-style: normal;
}

h2 {
    /* font-size: .9em;
    font-weight: 300;
    font-style: normal;
    color: var(--light); */
    /* font-size: 2rem; */
    font-weight: 400;
    padding-top: 50px;
    padding-bottom: 20px;
}

h3 {
    font-size: 2rem;
    font-weight: 400;
    padding-top: 50px;
    padding-bottom: 20px;
}

h4 {
    font-size: 1.25rem;
    font-weight: 400;
}

p {
    font-size: 1rem;
    font-weight: 300;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
 
.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-lg-1 {width: 8.33%;}
    .col-lg-2 {width: 16.66%;}
    .col-lg-3 {
        width: calc(25% - 20px);
        max-width: 240px;
        padding: 10px;
    }
    .col-lg-4 {width: 33.33%;}
    .col-lg-5 {width: 41.66%;}
    .col-lg-6 {width: 50%;}
    .col-lg-7 {width: 58.33%;}
    .col-lg-8 {width: 66.66%;}
    .col-lg-9 {width: 75%;}
    .col-lg-10 {width: 83.33%;}
    .col-lg-11 {width: 91.66%;}
    .col-lg-12 {width: 100%;}
}

/*************** Hotbar CSS ***************/

/* .hotbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    overflow: hidden;
    background-color: var(--midGray);
    z-index: 4;
}

.hotbar a {
    display: inline-block;
    margin: 0 30px;        
    color: var(--light);
    text-decoration: none;
}

.hotbar a:hover {
    text-decoration: underline;
    color: var(--lightGray);   
} */

#home-title {
    /* font-size: 2em; */
    color: var(--light);
    font-family: "Concert One";
    font-weight: 500;
    font-style: normal;
}

#home-subtitle {
    /* font-size: .9em; */
    font-weight: 300;
    font-style: normal;
    color: var(--light);
    padding-top: 0px;
    padding-bottom: 0px;
}

#skills {
    /* z-index: -2; */
    /* overflow: hidden; */
    /* position: relative; */
    /* top: 0;
    left: 0; */
    /* width: 100%; */
    z-index: -2;
    /* pointer-events: none; */
    background-color: var(--skyBackground); 
}
.skills-title {
    font-size: 1.25rem;
    font-weight: 400;
}

#skills-content {
    margin-left: 15px;
    margin-right: 15px;
}

.star {
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: white;
    display: none;
    visibility: visible;
}

#showreel {
    margin-bottom: 30px;
}

#about-me {
    background-image: url("assets/imgs/NoiseGradient.jpg");
}
footer {
    background-color: var(--backgroundGray);
    padding: 20px;
    text-align: center;
    color: var(--light);
}

#footer {
    padding: 20px;
    margin: 0 auto;
}

.testbox {
    outline: 3px solid red;
}
